gha-runner-scale-set:
  template:
    spec:
      containers:
        - name: runner
          image: local-registry:3000/arc-runner:built
          command: ["/home/runner/run.sh"]
          env:
            - name: DOCKER_HOST
              value: tcp://localhost:2375
        - name: docker
          image: docker:24-dind
          securityContext:
            privileged: true
          args: ["--host=tcp://0.0.0.0:2375"]
          volumeMounts:
            - name: docker-graph-storage
              mountPath: /var/lib/docker
      volumes:
        - name: docker-graph-storage
          emptyDir: {}
