gha-runner-scale-set:
  template:
    spec:
      containers:
        - name: runner
          image: local-registry:3000/arc-runner:built
          command: ["/home/runner/run.sh"]
          env:
            - name: DOCKER_HOST
              value: unix:///var/run/docker.sock
          volumeMounts:
            - name: work
              mountPath: /home/runner/_work
            - name: docker-sock
              mountPath: /var/run
        - name: docker
          image: docker:24-dind
          securityContext:
            privileged: true
          env:
            - name: DOCKER_TLS_CERTDIR
              value: ""
          volumeMounts:
            - name: docker-graph-storage
              mountPath: /var/lib/docker
            - name: work
              mountPath: /home/runner/_work
            - name: docker-sock
              mountPath: /var/run
      volumes:
        - name: work
          emptyDir: {}
        - name: docker-graph-storage
          emptyDir: {}
        - name: docker-sock
          emptyDir: {}
